@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Страничка</h1>
    <big><font size="7"><a href="https://localhost:44311/brigades">Бригада </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/customers">Заказчики </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/materials">Материалы </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/orders">Заказы </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/Positions">Должности </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/staffs">Сотрудники </a></font></big>
    <big><font size="7"><a href="https://localhost:44311/TypeOfJobs">Виды работ</a></font></big>
</div>
